@import url('https://fonts.googleapis.com/css?family=Poppins');

/*BASIC*/

*{
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-image: url("../media/medecins.jpeg");
}

a {
  color: #92badd;
  
  text-decoration: none;
  font-weight: 400;
}

/*BASIC*/


h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/*NAVBAR*/



ul{
  margin-top: .8%;
}


legend{
	margin: auto;
}

@keyframes nav-load{			/*animation de la navbar*/
	0%{
		transform: translateY(-100%);
	}

	100%{
			transform: translateY(0%);
	}
}

/*NAVBAR*/



.wrapper {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 20px;
  background-color: transparent;
}

#formContenu {
  border-radius: 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.image {
  background-color: transparent;
  margin: auto;
}

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 1px solid #02b958;
}

input[type=button],
input[type=submit],
input[type=reset] {
  border: none;
  color: white;
  padding: 12px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  transition:.5s;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%);
  -webkit-box-shadow: 0 0px 40px 0 #02b958;
  border-radius: 5px;
  margin: 35px;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor:pointer;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text],
input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

input[type=text]:focus,
input[type=text]:placeholder {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

*:focus {
  outline: none;
}

#icon {
  width: 15%;
}

* {
  box-sizing: border-box;
}
