*{
	color: black;
}


table{
 border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
	width: 80%;
	margin: auto;
	margin-bottom: 3%;

}

caption{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-style: normal;
	font-size: 18px;
	height: 50px;
	font-weight: bold;
	border-collapse:collapse;
	padding-top: 15px;
	margin-bottom: .5%;
	border-radius: 20px;
}
th{
background-color: white;
	color: rgb(77,170,102);
	font-style: normal;
	font-size: 15px;
	position: sticky;
	height:30px;
	text-align:center;
	font-weight:bold;
	border-collapse: collapse;
	padding-bottom: 10px;
	padding-top: 10px;	
}
td{
	background-color: rgb(247, 247, 247);
	color: black;
	height: 50px;
	text-align: center;
	;
	border-collapse:collapse;
	text-indent: 11px;
}
td.td1{
	width:150px;
	height: 15px;
	text-align: right	
}

tr:nth-child(even) td {
  background-color: rgb(213, 213, 213);
}



@media screen and (max-width: 1080px ){
	table{
		width: 50%;
		height: 300px;
	}
	th{
		height: 1%;
		}	}
